<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>
<body>
    
     <!-- <div class="" style="border: 1px solid navy; padding: 3%;">
      <h2 class="" style="text-align: center; padding-bottom: 1%; font-weight: bolder; color: #2c4dde;">VERIFY YOUR ACCOUNT</h2>
      
      <p style="text-align: center;">Enter below OTP to verify your account.</p>
      
      <p class="" style="text-align: center; font-weight: bolder; color: #2c4dde;">OTP</p>
      <p style="text-align: center;">12345678</p>
     </div> -->

     <div class="" style="border: 1px solid navy; padding: 3%;">
      <h2 class="" style="text-align: center; padding-bottom: 1%; font-weight: bolder; color: #2c4dde;">VERIFY YOUR ACCOUNT</h2>
      
      <p style="text-align: center;">Click on below link to verify your account.</p>
      <br>
      <p class="" style="text-align: center; font-weight: bolder; color: #2c4dde;">Link: <a href="http://">http://127.0.0.1:8080/verifyemail?token=7666c44e42d2dc55dd200bf70ecdf206e3dbd1a7d33be4e2d9e733e9bbb00d2581291a067ea7b3d03ee3f729815311b5</a> </p>
      
      <p style="text-align: center;">OR</p>
      <a href="http://" style="background-color: #2c4dde; color: white; font-weight: bolder; text-decoration: none; padding:10px 20px; border-radius: 5px; margin-left: auto; margin-right: auto; display: block; width: 10%; text-align: center;">Verify Account</a>
     </div>
    
</body>
</html>